html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: #5fcf81;
}

img {
  width: 80%;
  padding: 5px;
  margin: 0 10%;
}

img:hover {
  opacity: 0.8;
}

h1, form {
  text-align: center;
}

input {
  font-size: 1.5em;
  margin: 0 auto;
}

h1, label {
  font-family: sans-serif;
  color: rgb(121, 61, 182);
  text-transform: uppercase;
  font-size: 1.75em;
  font-weight: bold;
}

h1 {
  font-family: 'Fascinate Inline', sans-serif;
  color: #000;
  font-size: 3em;
  
  /* padding-top: 20px; */
}


h1, label, input, button {
  display: block;
}

button {
  background-color: rebeccapurple;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 20px auto;
  text-transform: uppercase;
  cursor: pointer;
}

button:hover {
  background-color: rgb(121, 61, 182);
}

.js-search-results {
    background-color: #499e63;
}

@media only screen and (min-width: 650px) {
    img {
      width: 20%;
      height: 177px;
      padding: 20px 5px;
      margin: 0;
    }
}